/* start Symphony-esque look for editor */

.editor-toolbar {
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    opacity: 1 !important;
}
.editor-toolbar:hover > * {
    opacity: 0.8;
}

.editor-toolbar > * {
    opacity: 0.6;
}

.editor-toolbar:before, .editor-toolbar:after {
    height: 0;
}

.CodeMirror {
    outline: none;
    padding: 6px 3px 2px 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-width: 0px 1px 1px 1px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 109.09%;
    background: #fff;
}

.editor-statusbar {
    font-size: 1em;
}

/* end Symphony-esque look for editor */
