/* start Symphony-esque look for editor */

.editor-toolbar {
	margin-top: 4px; /* slightly bigger margin as component is massive */
	padding: 4px;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
	opacity: 1 !important;
	z-index: 5;
}
.editor-toolbar:hover > * {
	opacity: 0.8;
}

.editor-toolbar > * {
	opacity: 0.6;
}

.editor-toolbar:before, .editor-toolbar:after {
	display: none;
}

.editor-preview {
	z-index: 4;
}

.CodeMirror {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 6px 2px;
	font-size: 109.09%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-width: 0 1px 1px 1px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	background: #fff;
	outline: none;
	height: auto;
	min-height: 5em;
}

.invalid .CodeMirror {
	color: #000;
}

.editor-statusbar {
	font-size: 1em;
}

.editor-preview {
	box-sizing: border-box;
	padding: 20px;
	background: #fbfbfb;
}

/* end Symphony-esque look for editor */
