/* start Symphony-esque look for editor */

.editor-toolbar {
	margin-top: 1rem; /* slightly bigger margin as component is massive */
	padding: 4px;
	font-size: 14px;
	border: 1px solid #d3dce2;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	opacity: 1 !important;
	z-index: 5;
}

.editor-toolbar a {
	color: #757c84!important;
}

.editor-toolbar a:hover {
	color: #2f77eb!important;
}

.editor-toolbar:before, .editor-toolbar:after {
	display: none;
}

.editor-preview {
	z-index: 4;
}

.CodeMirror {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 6px 2px;
	font-size: 109.09%;
	border: 1px solid #d3dce2;
	border-width: 0 1px 1px 1px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	background: #fff;
	outline: none;
	height: auto;
	min-height: 5em;
}

.CodeMirror pre {
	text-transform: none;
	line-height: 1.8em;
}

.invalid .CodeMirror {
	color: #000;
}

.editor-statusbar {
	font-size: 1em;
}

.editor-preview {
	box-sizing: border-box;
	padding: 20px;
	background: #fbfbfb;
}

.editor-statusbar {
	border: none;
}

/* end Symphony-esque look for editor */
